* {
 box-sizing: border-box;
}

body {
 margin: 0;
 padding: 0;
 font-family: "Roboto", sans-serif;
 background-color: #f9f9f9;
 line-height: 1.6;
}

.container {
 margin: 0 auto;
 max-width: 1200px;
}


/* HEADER */

header {
 padding-top: 100px;
 background-color: #eeeff1;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding-bottom: 140px;
}

header h1 {
 font-family: "Roboto Medium";
 font-size: 48px;
 color: #000;
 margin-bottom: 60px;
}

header p {
 width: 540px;
 font-size: 16px;
 color: #727272;
 margin-bottom: 65px;
}

header button {
 padding: 20px 42px;
 background-color: #34547a;
 color: #ffffff;
 font-size: 16px;
 font-family: "Roboto Regular";
}

nav {
 font-size: 16px;
 font-family: "Roboto Regular";
 margin-bottom: 150px;
}

nav a {
 margin-right: 42px;
 text-decoration: none;
 color: #727272;
}

/* section {
 width: 540px;
 margin-bottom: 100px;
 padding: 112px;
    
} */

section h2 {
 font-family: "Roboto Medium";
 font-size: 32px;
 color: #000;
 margin-bottom: 50px;
}

.text {
 max-width: 540px;
 margin-bottom: 65px;
 text-align: center;
 margin: auto; 
 font-size: 16px;
}

section p {
 color: #727272;
}    

.video-container {
 position: relative;
 padding-bottom: 56.25%;
 margin: 0 auto;
 max-width: 1200px;
}

.video-container iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.content {
 text-align: center;
 padding: 100px;
}

/* FOOTER */

footer {
 height: 200px;
 background-color: #34547a;
 padding-top: 75px;
 padding-bottom: 50px;
 color: #ffffff;
}
    
footer h3 {
 font-family: "Roboto Medium", sans-serif;
 font-size: 21px;
}
    
footer p {
 font-size: 13px;
}

/* PROJECTS */

.projects-container {
 background-color: #34547a;
 padding: 100px 0;
}

.project-group {
 font-size: 0;
}

.project {
 font-size: 14px;
 display: inline-block;
 width: calc(100% / 6);
}

.project-heading {
 font-size: 20px;
}

.project-group img {
 width: 50px;
 height: 50px;
 display: inline-block;
 margin-right: 10px;
}

.project-info {
 color: #ffffff;
 display: inline-block;
}

.project-info h3 {
 font-family: "Roboto Medium";
 font-size: 21px;
}

.project-info p {
 font-family: "Roboto Regular";
 font-size: 16px;
 color: #ffffff;
}

.project-group:not(:last-child) {
 margin-right: 45px;
}